{% extends "base.html" %}
{% block title %}Twój koszyk{% endblock %}

{% block content %}
<h2 class="mb-4">Twój koszyk</h2>

{% if order_details|length > 0 %}
    <form method="post">
        {% csrf_token %}

        {% for detail in order_details %}
            <div class="card mb-3">
                <div class="card-header">
                    <strong>Miejsce:</strong> {{ detail.ticket.seat }} | <strong>Cena:</strong> ${{ detail.ticket.price }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dane uczestnika dla miejsca {{ detail.ticket.seat }}</h5> {# Dodany numer miejsca dla czytelności #}
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label for="first_name_{{ detail.participant.id }}" class="form-label">Imię</label>
                            <input type="text" class="form-control" id="first_name_{{ detail.participant.id }}" name="first_name_{{ detail.participant.id }}" value="{{ detail.participant.first_name }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="last_name_{{ detail.participant.id }}" class="form-label">Nazwisko</label>
                            <input type="text" class="form-control" id="last_name_{{ detail.participant.id }}" name="last_name_{{ detail.participant.id }}" value="{{ detail.participant.last_name }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="pesel_{{ detail.participant.id }}" class="form-label">PESEL</label>
                            <input type="text" class="form-control" id="pesel_{{ detail.participant.id }}" name="pesel_{{ detail.participant.id }}" value="{{ detail.participant.pesel }}" required maxlength="11" minlength="11" pattern="[0-9]{11}" title="PESEL musi składać się z 11 cyfr.">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="card mb-4 bg-light shadow-sm border-primary">
            <div class="card-body text-end">
                <h4 class="card-title mb-0 text-dark">Łączna wartość zamówienia: <strong class="text-primary fs-3">${{ total }}</strong></h4>
            </div>
        </div>

        <div class="d-grid gap-2 mb-5">
            <button type="submit" class="btn btn-primary btn-lg" onclick="return confirm('Dane osobowe muszą być zgodne z osobą wchodzącą na wydarzenie.\nCzy na pewno chcesz kontynuować zakup?');">
                Kup bilety
            </button>
        </div>
    </form>
{% else %}
    <div class="alert alert-info" role="alert">
        Twój koszyk jest pusty.
    </div>
{% endif %}
{% endblock %}