DEBUG=True
SECRET_KEY=write_here_secure_key
FIELD_ENCRYPTION_KEY=secret_key_for_encryption
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=ticket_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
STRIPE_SECRET_KEY=stripe_api_key
STRIPE_PUBLISHABLE_KEY=stripe_publishable_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_key

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin@admin.com
DJANGO_SUPERUSER_EMAIL=admin123