# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Django
db.sqlite3
media/
staticfiles_collected/

# Environment variables (KLUCZOWE!)
.env
.env.prod

#Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir

# Poetry
.python-version
# poetry.lock zostawiamy! Jest potrzebny w Git.

# Docker
.docker/

# IDE
.idea/
.vscode/