{% extends "base.html" %}

{% block title %}Strona Główna - My Tickets App{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Witaj w My Tickets App!</h1>
            <p class="col-md-8 fs-4">Twoje miejsce do zarządzania biletami na najlepsze wydarzenia. Przeglądaj, kupuj i miej wszystko pod kontrolą.</p>
            <a href="{% url 'events' %}" class="btn btn-success btn-lg" type="button">Zobacz dostępne wydarzenia</a>

        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Twoje Zamówienia</h2>
                <p>Sprawdź historię swoich zamówień i pobierz zakupione bilety w dowolnym momencie.</p>
                <a href="{% url 'my_orders' %}" class="btn btn-outline-light" type="button">Przejdź do moich zamówień</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Twój Koszyk</h2>
                <p>Masz coś w koszyku? Dokończ swoje zamówienie i ciesz się nadchodzącymi wydarzeniami.</p>
                <a href="{% url 'cart' %}" class="btn btn-outline-secondary" type="button">Zobacz koszyk</a>
            </div>
        </div>
    </div>
{% endblock %}