{% extends "base.html" %}

{% block title %}Moje Zamówienia{% endblock %}

{% block content %}
  <h2 class="mb-4">Moje Zamówienia</h2>
  {% if orders %}
    <div class="list-group">
      {% for order in orders %}
        {% if order.status != "pending" %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Zamówienie #{{ order.id }}</h5>
                    <small class="text-muted">{{ order.updated_at|date:"Y-m-d H:i" }}</small>
                </div>
                <p class="mb-1">
                    <strong>Status:</strong> <span class="badge
                        {% if order.status == 'completed' %}bg-success{% elif order.status == 'canceled' %}bg-danger{% else %}bg-warning text-dark{% endif %}">
                        {{ order.status }}
                    </span>
                </p>
                <p class="mb-1">
                    <strong>Wartość:</strong> ${{ order.total_price }}
                </p>
                <div class="mt-2">
                    <a href="{% url 'order_details' order.id %}" class="btn btn-info btn-sm">Szczegóły</a>
                </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info" role="alert">
      Nie masz jeszcze żadnych zamówień (lub wszystkie są w statusie 'pending').
    </div>
  {% endif %}
{% endblock %}