{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center mb-0">Utwórz nowe konto</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control">
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                    </div>
                </form>
            </div>
             <div class="card-footer text-center">
                Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}